<input
        class="mySearchField"
    name="searchBox"
    ng-model="ctrl.userInput"
    ng-change="ctrl.parse()"
    />
<button>Search</button>
<br />
<span>Position <span class="result">{{ctrl.parsed.position}}
    <i ng-if="!ctrl.parsed.position" class="fa fa-circle-o"></i>
    <i ng-if="ctrl.parsed.position" class="valid fa fa-check-circle-o"></i>

</span>
    <span>
    <span>Reference Bases <span class="result">{{ctrl.parsed.refBase}}
        <i ng-if="!ctrl.parsed.refBase" class="fa fa-circle-o"></i>
        <i ng-if="ctrl.parsed.refBase" class="valid fa fa-check-circle-o"></i>
    </span>
    </span>
    <span>Alternate Bases <span class="result">{{ctrl.parsed.altBase}}
        <i ng-if="!ctrl.parsed.altBase" class="fa fa-circle-o"></i>
        <i ng-if="ctrl.parsed.altBase" class="valid fa fa-check-circle-o"></i>
        </span>




<style>
    .mySearchField {
        width: 500px;
        height: 25px;
    }
    .result {
        color: red;
    }
    .valid {
        color: green;
    }
</style>